html,
body,
#app {
	width  : 100%;
	height : 100%;
	margin : 0;
	padding: 0;
}

#app {
	position: absolute;
	top     : 0;
	left    : 0;
	right   : 0;
	bottom  : 0;
	display : grid;
	grid-template-areas:
		"title         title"
		"toolbar 	   toolbar"
		"style-editor  map"
		"about-section map";
	grid-template-rows   : 3rem 3rem 1fr 4rem;
	grid-template-columns: 30rem 1fr;
}

#app>#title {
	grid-area: title;
}

#app>#about {
	grid-area: about-section;
}

#title h1 {
	font-style: italic;
	text-decoration: underline;
	padding: 0.5rem 1rem;
	margin: 0;
	display: inline;
}

#app>#toolbar {
	grid-area: toolbar;
}

#toolbar {
	padding: 0.5rem 1rem;
	box-shadow: 0 4px 2px -2px gray;
	z-index: 1;
}

#toolbar button {
	height     : 100%;
	align-items: center;
}

#app>#style-editor {
	grid-area : style-editor;
	overflow-y: scroll;
	padding-top: 1rem;
}

#app>.mapContainer {
	grid-area: map;
}

.mapContainer *:focus {
	outline: none;
}

/* TODO: Make sure this looks reasonable on non-OSX machines */
/* Force the scrollbar to always appear on OSX */
.hide-scrollbar::-webkit-scrollbar {
	background-color: white;
	border-radius   : 10px;
	width           : 20px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius   : 10px;
	border          : 5px solid white;
}

/* By default, the MapBox geocoder leaves a small gap between
the search box and suggestions list. This is very annoying, because
moving the mouse cursor into the gap usually dismisses the suggestion
list. To avoid that, this CSS rule removes the gap so that it's always
possible to move the mouse cursor from the query box to the suggestions 
list.
*/
.mapboxgl-ctrl-geocoder .suggestions {
	top: 100%;
}