.styleEditor {
  width: 100%;
}

.styleEditor input[type="range"] {
  width: 50px;
}

#styleRulesList {
  padding: 0 1rem;
}

.styleEditorRow {
  background-color: #f0f0f0;
  border          : 1px solid #101010;
  padding         : 1rem;
  margin-bottom   : 1rem;
  display: grid;
  grid-template-areas:
    "handle title       title      title      title"
    "handle fill-select fill-color fill-color fill-color"
    "handle line-select line-color line-width line-dash"

  ;
  grid-template-columns: 0.4rem auto auto 1fr auto;
  grid-template-rows   : auto 1fr 1fr;
  gap                  : 0.1rem 0.5rem;
  align-items          : center;
}

.styleEditorRow .deleteButton {
  opacity        : 0;
  color          : #990000;
  text-decoration: none;
  transition     : opacity 0.1s;
  margin-left    : 0.5rem;
}

.styleEditorRow:hover .deleteButton {
  opacity: 1;
}


.title {
  grid-area: title;
  font-size: 150%;
}

.handle {
  height          : 100%;
  grid-area       : handle;
  background-color: #383838;
}

.fill-select {
  grid-area: fill-select;
}

.line-select {
  grid-area: line-select;
}

.fill-color {
  grid-area: fill-color;
}

.line-color {
  grid-area: line-color;
}

.line-width {
  grid-area: line-width;
}

.line-dash {
  grid-area: line-dash;
}