body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.poi-selector {
  height: 200px;
  overflow: auto;
  list-style: none;
  padding: 0;

}